.comment_form {
  height: 90vh;
  background-color: beige;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.post_info {
  box-sizing: border-box;
  border: solid 1px black;
  padding: 2rem;
  width: 20rem;
}

.comment_title {
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.comment_post {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 2rem;
}

.comment_button {
  margin-top: 1rem;
  font-size: 1rem;
  height: 1.5rem;
  border: solid 1px rgb(255, 100, 28);
  border-radius: 0.2rem;
  margin-bottom: 0.3rem;
  margin-right: 0.3rem;
  width: 8rem;
}

.user_comments {
  box-sizing: border-box;
  border: solid 1px black;
  padding: 2rem;
  width: 20rem;
}

.comment_text {
  font-size: 1.3rem;
}

.comment_user_title {
  font-size: 2rem;
}

.add_comment {
  margin-top: 1rem;
  font-size: 1rem;
  height: 1.5rem;
  border: solid 1px rgb(255, 100, 28);
  border-radius: 0.2rem;
  margin-bottom: 0.3rem;
  margin-right: 0.3rem;
  width: 8rem;
}

.edit_comment {
  margin-top: 1rem;
  font-size: 1rem;
  height: 1.5rem;
  border: solid 1px rgb(255, 100, 28);
  border-radius: 0.2rem;
  margin-bottom: 0.3rem;
  margin-right: 0.3rem;
  width: 8rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.delete_comment {
  margin-top: 1rem;
  font-size: 1rem;
  height: 1.5rem;
  border: solid 1px rgb(255, 100, 28);
  border-radius: 0.2rem;
  margin-bottom: 0.3rem;
  margin-right: 0.3rem;
  width: 9rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.post_comment_title {
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
