* {
  box-sizing: border-box;
  font-size: 12px;
}

body {
  height: 100vh;
  margin: 0;
  padding-top: 1rem;
  padding-left: 2rem;
  padding-right: 2rem;
}

.index_page {
  background-color: beige;
}

.greeting_user_container {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  background-color: beige;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.news_feed {
  margin: 10px;
  margin-bottom: 5px;
  min-height: 15vh;
  padding-bottom: 1.5rem;
  padding-left: 1rem;
  border: solid 1px black;
}

.index_title {
  font-size: 2rem;
}

.index_comments {
  text-decoration: none;
  color: rgb(255, 122, 13);
}

.upvote_button {
  font-size: 1rem;
  height: 1.5rem;
  border: solid 1px rgb(255, 100, 28);
  border-radius: 0.2rem;
  margin-bottom: 0.3rem;
  margin-right: 0.3rem;
  width: 6rem;
}

.index_post_title {
  font-size: 1.5rem;
}
