* {
  box-sizing: border-box;
  font-size: 12px;
}

body {
  height: 100vh;
  margin: 0;
  padding-top: 1rem;
  padding-left: 6rem;
  padding-right: 6rem;
}

.newsContainer {
  /* display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  
  height: 100vh;
  width: 100%;
  font-size: 12px; */
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  background-color: beige;
}

.newsFeed {
  margin: 10px;
  margin-bottom: 5px;
  min-height: 15vh;
  border: solid 1px black;
  padding-bottom: 1.5rem;
  padding-left: 1rem;
}

.newsFeedPage {
  box-sizing: border-box;
}
