.topnav {
  display: flex;
  align-items: center;
  flex-direction: row;
  width: 100%;
  /* overflow: hidden; */
  background-color: rgb(255, 72, 0);
  height: 2rem;
}
/* 
.topnav a {
  
  color: black;
  text-align: center;
  padding: 1rem;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: white;
  color: black;
}

.topnav a.active {
  background-color: black;
  color: white;
} */

.topnav {
  display: flex;
}

ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}
