.top_nav {
  display: flex;
  align-items: center;
  flex-direction: row;
  width: 100%;
  background-color: rgb(255, 72, 0);
  height: 2rem;
}

ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  list-style: none;
}

.page_title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  border: solid 1px white;
  box-shadow: 1px 1px 1px 0.5px black;
  height: 2rem;
  width: 8rem;
}

a {
  text-decoration: none;
  color: black;
}
