/* .settings__menu {
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.2);
  background-color: #ffffff;
  border-radius: 6px;
  padding: 5%;
  margin-bottom: 5%;
}

.settings__menu__item h2 {
  margin: 0;
  padding: 4% 0 3%;
  font-weight: 600;
  font-size: 1.1em;
  color: #1d1d1d;
  border-bottom: 1px solid #94949465;
}

.settings__menu__item--active {
  width: 100%;
  border-bottom: 1px solid #94949465;
  padding: 6% 0;
}

.change-avatar--active {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.change-avatar--active img {
  width: 160px;
  height: 160px;
  object-fit: cover;
  border-radius: 100%;
  margin-bottom: 5%;
}

.change-avatar__form {
  width: 100%;
}

.change-email p,
.change-username p {
  margin-top: 0;
  font-size: 0.9em;
}

.settings .form__group {
  padding-bottom: 5%;
}

.settings .message {
  min-height: 50px;
  border-radius: 0;
  width: 100%;
  margin-bottom: 5%;
}

.settings button:not(.delete-account__button, .delete__form__buttons .button) {
  margin-top: 5%;
}

.settings label {
  font-size: 0.9em;
}

.delete-account__form label {
  color: black;
}

.delete-account__form p {
  width: 40%;
}

.delete-account__button {
  margin-top: 0;
  background-color: #b40021d0;
}

.logout {
  margin-bottom: 5%;
}

.hidden {
  display: none;
} */
