.settings_container {
  background-color: beige;
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 112vh;
}

.settings_title {
  font-size: 1.5rem;
  justify-content: center;
  display: flex;
}

.button_settings {
  font-size: 1rem;
  height: 1.5rem;
  border: solid 1px rgb(255, 100, 28);
  border-radius: 0.2rem;
  margin-bottom: 0.3rem;
  margin-right: 0.3rem;
  width: 6rem;
  margin: 1rem;
}

.settings_image {
  height: 20rem;
  width: 20rem;
  border-radius: 10rem;
  margin-bottom: 1rem;
}

.settings_image_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.settings_email_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.settings_new_email {
  margin-top: -3rem;
}

.settings_password_container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.settings_password_renewal {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: -3rem;
}

.settings_biography_container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.settings_biography_buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
