.signup_container {
  height: 80vh;
  background: beige;
}

.signup_title {
  font-size: 2rem;
  margin-top: 0rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5rem;
}

.signup_form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.signup_button {
  font-size: 1rem;
  height: 1.5rem;
  border: solid 1px rgb(255, 100, 28);
  border-radius: 0.2rem;
  margin-bottom: 0.3rem;
  margin-right: 0.3rem;
  width: 8rem;
  margin: 1rem;
}

.already_have_account {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.fill_out_form {
  display: flex;
  justify-content: center;
  align-items: center;
}
